{% extends "base.html" %}
{% block content %}
<h1 class="title">Admin</h1>
<h2 class="subtitle">Configure and Administer Shade.</h2>

<div class="content">
  <ul>
    <li>
      <a class="button is-link vertical-middle" href="admin/macros">
        {{macros|count}} Macro{{macros|pluralize}}
      </a>
    </li>
    <li>
      <a class="button is-link vertical-middle" href="admin/users">
        {{users|count}} User{{user|pluralize}}
      </a>
    </li>
    <li>
      <a class="button is-link vertical-middle" href="admin/sunblock-groups">
        {{sunblock-groups|count}} Sunblock Group{{sunblock-groups|pluralize}}
      </a>
    </li>
  </ul>
</div>
{% endblock %}
