<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to shade</title>

    <!-- styles -->
    {% style """/assets/bulma/css/bulma.min.css" %}
    {% style """/assets/material-icons/css/material-icons.min.css" %}

    {% style """/css/screen.css" %}
  </head>
  <body{%if onload %} onload="{{onload}}"{% endif %}>
      <!-- navbar -->
      <nav class="navbar is-info">
          <div class="container">
              <div class="navbar-brand">
                  <a class="navbar-item" href="/" style="font-weight:bold;">shade</a>
                  <span class="navbar-burger burger" data-target="nav-menu">
                      <span></span>
                      <span></span>
                      <span></span>
                  </span>
              </div>
              <div id="nav-menu" class="navbar-menu">
                  <div class="navbar-start">
                      <a href="/" class="navbar-item{% ifequal page "home.html" %} is-active{%endifequal%}">Home</a>
                      {% ifunequal page "login.html" %}
                      <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Rooms</a>
                        <div class="navbar-dropdown">
                          {% for room-item in rooms %}
                          <a href="/room/{{room-item.id}}" class="navbar-item{% ifequal room.id room-item.id %} is-active{% endifequal %}">{{room-item.name}}</a>
                          {% endfor %}
                        </div>
                      </div>
                      <a href="/status" class="navbar-item{% ifequal page "status.html" %} is-active{% endifequal %}">Status</a>
                      <a href="/profile" class="navbar-item{% ifequal page "profile.html" %} is-active{% endifequal %}">Profile</a>
                      <a href="/logout" class="navbar-item">Logout</a>
                      {% endifunequal %}
                      <!-- <a href="/about" class="navbar-item{% ifequal page "about.html" %} is-active{% endifequal %}">About</a> -->
                  </div>
              </div>
          </div>
      </nav>

      <section class="section">
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
      </section>

    <!-- scripts -->
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>


    {% block page-scripts %}
    {% endblock %}
  </body>
</html>
