{% extends "base.html" %}
{% block content %}
{% if active? %}
<script type="text/javascript">
  function runMacro(id) {
    const req = new XMLHttpRequest();
    req.open("GET", "run/" + id);
    req.send();
  }

  function runRoomMacro(macroId, roomId) {
    const req = new XMLHttpRequest();
    req.open("GET", "run/" + macroId + "?room=" + roomId);
    req.send();
  }

  function updateMacroButton(entry) {
    const button = document.getElementById("macro-" + entry.id);
    if (entry["in-effect"]) {
      button.classList.add("is-light");
    } else {
      button.classList.remove("is-light");
    }
    for (const room in entry.rooms) {
      const button = document.getElementById("macro-" + entry.id + "-" + room);
      if (button) {
        if (entry.rooms[room]) {
          button.classList.add("is-light");
        } else {
          button.classList.remove("is-light");
        }
      }
    }
  }

  function macroStateListener() {
    const states = JSON.parse(this.responseText);
    states.forEach(entry => updateMacroButton(entry));
  }

  function updateMacroStates() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", macroStateListener);
    req.open("GET", "macro-states");
    req.send();
  }

  setInterval(updateMacroStates, 900);
</script>

<h1 class="title">Macros</h1>
<h2 class="subtitle">Move Groups of Blinds.</h2>

{% if macros|not-empty %}
<table class="table">
  {% if macro-rooms|not-empty %}
  <thead>
    <th>Everywhere</th>
    <th colspan="{{macro-rooms|count}}">Rooms</th>
  </thead>
  {% endif %}
  <tbody>
    {% for macro in macros %}
    <tr>
      <td class="vertical-middle"><button id="macro-{{macro.id}}" class="button is-primary{% if macro.in-effect %} is-light{% endif %}" onclick="runMacro('{{macro.id}}')">{{ macro.name }}</button></td>
      {% for room in macro.room-buttons %}
      <td class="vertical-middle">
        {% if room.id %}
        <button id="macro-{{macro.id}}-{{room.id}}" class="button is-primary is-small{% if room.in-effect %} is-light{% endif %}" onclick="runRoomMacro('{{macro.id}}','{{room.id}}')">{{ room.button }}</button>
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if macro-rooms|not-empty %}
<div class="box">
<h2 class="title is-5">Rooms Key</h2>
<p>
{% for room in macro-rooms %}
<span class="nowrap">
  <span class="tag is-primary">{{room.button}}</span> <span class="pr-4">{{room.name}}</span>
</span>
{% endfor %}
</p>
</div>
{% endif %}
{% else %}
<div class="box">
  <p>You have no macros available. You can make them visible on your
    <a href="profile">Profile</a>.</p>
</div>
{% endif %}

{% else %}
<h1 class="title">Welcome</h1>
<h2 class="subtitle">Valid but Inactive Account</h2>

<p>You have successfully logged into Shade, but your account is not
currently active for controlling blinds. You can update your profile
if you'd like, and check back later once you expect to have the
ability to manage shades.</p>

{% endif %}
{% endblock %}
