{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
  function runMacro(id) {
    const req = new XMLHttpRequest();
    req.open("GET", "run/" + id);
    req.send();
  }

  function updateMacroButton(entry) {
    const button = document.getElementById("macro-" + entry.id);
    if (entry["in-effect"]) {
      button.classList.add("is-light");
    } else {
      button.classList.remove("is-light");
    }
  }

  function macroStateListener() {
    const states = JSON.parse(this.responseText);
    states.forEach(entry => updateMacroButton(entry));
  }

  function updateMacroStates() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", macroStateListener);
    req.open("GET", "macro-states");
    req.send();
  }

  setInterval(updateMacroStates, 5000);
</script>

<h1 class="title">Macros</h1>
<h2 class="subtitle">Set Groups of Blinds to Preset Locations.</h2>

<table class="table">
  {% for macro in macros %}
  <tr>
    <td><button id="macro-{{macro.id}}" class="button is-primary{% if macro.in-effect %} is-light{% endif %}" onclick="runMacro('{{macro.id}}')">{{ macro.name }}</button></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
