{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
  function setMacroVisibility(checkbox,userId,macroId) {
    const req = new XMLHttpRequest();
    req.open("GET", "set-macro-visibility/" + macroId + "/" + userId + "/" + checkbox.checked);
    req.send();
  }
</script>

{% if error %}
<div class="notification is-danger">{{error}}</div>
{% endif %}

<h1 class="title">Profile</h1>
<h2 class="subtitle">Make any desired account changes.</h2>

<form method="post">
  {% csrf-field %}
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" name="name" value="{{user.name}}" />
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" name="email" value="{{user.email}}"/>
    </div>
    <p class="help">This must be unique and is used to log in.</p>
  </div>
  <div class="field">
    <label class="label">Current Password</label>
    <div class="control">
      <input class="input" type="password" name="password" />
    </div>
    <p class="help">You must enter your current password to set a new one.</p>
  </div>
  <div class="field">
    <label class="label">New Password</label>
    <div class="control">
      <input class="input" type="password" name="new_password" value="{{new-password}}" />
    </div>
    <p class="help">If you enter a value here, it will replace your
    current password. Must be at least 12 characters long and contain
    a mix of lowercase and uppercase letters, numbers, and other
    special characters. Ideally, use a password manager to generate a
    good random one for you.</p>
  </div>
  <div class="field">
    <div class="control">
      <input class="button is-primary" type="submit" value="Save" />
    </div>
  </div>
</form>

{% if macros|not-empty %}
<h2 class="title is-5 mt-6">Macro Visibility</h2>
<h3 class="subtitle is-6">Choose which macros appear on home and room pages.</h3>

<table class="table">
  <thead>
    <th>Macro</th>
    <th>Enabled?</th>
  </thead>
  <tbody>
    {% for macro in macros %}
    <tr>
      <td>{{macro.name}}</td>
      <td><input type="checkbox"{% if macro.enabled %} checked="checked"{% endif %}} onclick=setMacroVisibility(this,'{{user.id}}','{{macro.id}}')>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
