{% extends "base.html" %}
{% block content %}
<h1 class="title">Room: {{room.name}}</h1>

<script type="text/javascript">
  var shadeStates = [];

  function drawShadeState(entry, canvas, ctx) {
    ctx.save();
    ctx.beginPath();
    ctx.moveTo(entry.top_left_x, entry.top_left_y);
    ctx.lineTo(entry.top_right_x, entry.top_right_y);
    ctx.lineTo(entry.bottom_right_x, entry.bottom_right_y);
    ctx.lineTo(entry.bottom_left_x, entry.bottom_left_y);
    ctx.closePath();
    ctx.clip();
    ctx.drawImage(document.getElementById(entry.image), 0, 0, canvas.width, canvas.height);
    ctx.restore();
  }

  function draw() {
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');
    ctx.drawImage(document.getElementById('open'), 0, 0, canvas.width, canvas.height);

    shadeStates.forEach(entry => drawShadeState(entry, canvas, ctx));

    window.requestAnimationFrame(draw);
  }

  function shadeStateListener() {
    shadeStates = JSON.parse(this.responseText);
  }

  function updateShadeStates() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", shadeStateListener);
    req.open("GET", "/shades-visible/{{room.id}}");
    req.send();
  }

  updateShadeStates();
  setInterval(updateShadeStates, 200);
</script>

<div style="display:none;">
  <img id="both" src="/img/rooms/{{room.id}}/both.jpeg">
  <img id="open" src="/img/rooms/{{room.id}}/open.jpeg">
  <img id="blackout" src="/img/rooms/{{room.id}}/blackout.jpeg">
  <img id="privacy" src="/img/rooms/{{room.id}}/privacy.jpeg">
</div>

<figure class="image is-fullwidth is-4by3">
  <canvas id="canvas" class="has-ratio" width="4032" height="3024">
  </canvas>
</figure>

{% endblock %}
