{% extends "base.html" %}
{% block content %}
<h1 class="title">Room: {{room.name}}</h1>

<script type="text/javascript">
  var shadeStates = [];
  var drawing = false;

  function drawShadeState(entry, canvas, ctx) {
    ctx.save();
    ctx.beginPath();
    ctx.moveTo(entry.top_left_x, entry.top_left_y);
    ctx.lineTo(entry.top_right_x, entry.top_right_y);
    ctx.lineTo(entry.bottom_right_x, entry.bottom_right_y);
    ctx.lineTo(entry.bottom_left_x, entry.bottom_left_y);
    ctx.closePath();
    if ("image" in entry) {
      ctx.clip();
      ctx.drawImage(document.getElementById(entry.image), 0, 0, canvas.width, canvas.height);
    } else {
      if (entry.moving == "blackout") {
        ctx.fillStyle = "rgba(0, 0, 255, 30%)";
        ctx.strokeStyle = "rgba(0, 0, 255, 80%)";
      } else {
        ctx.fillStyle = "rgba(240, 255, 10, 25%)";
        ctx.strokeStyle = "rgba(240, 255, 10, 80%)";
      }
      ctx.fill();
      ctx.lineWidth = 8;
      ctx.setLineDash([8, 8]);
      ctx.stroke();
    }
    ctx.restore();
  }

  function draw() {
    const canvas = document.getElementById('canvas');
    const ctx = canvas.getContext('2d');
    shadeStates.forEach(entry => drawShadeState(entry, canvas, ctx));
    drawing = true;
  }

  function shadeStateListener() {
    shadeStates = JSON.parse(this.responseText);
    if (drawing) {
      draw();
    }
  }

  function updateShadeStates() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", shadeStateListener);
    req.open("GET", "/shades-visible/{{room.id}}");
    req.send();
  }

  updateShadeStates();
  setInterval(updateShadeStates, 200);

  function runRoomMacro(macroId, roomId) {
    const req = new XMLHttpRequest();
    req.open("GET", "/run/" + macroId + "?room=" + roomId);
    req.send();
  }

  function updateMacroButton(entry) {
    for (const room in entry.rooms) {
      const button = document.getElementById("macro-" + entry.id + "-" + room);
      if (button) {
        if (entry.rooms[room]) {
          button.classList.add("is-light");
        } else {
          button.classList.remove("is-light");
        }
      }
    }
  }

  function macroStateListener() {
    const states = JSON.parse(this.responseText);
    states.forEach(entry => updateMacroButton(entry));
  }

  function updateMacroStates() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", macroStateListener);
    req.open("GET", "/macro-states");
    req.send();
  }

  setInterval(updateMacroStates, 900);

  function canvasClicked(canvas, event) {
    const rect = canvas.getBoundingClientRect(),
          scaleX = canvas.width / rect.width,
          scaleY = canvas.height / rect.height,
          x = Math.round((event.clientX - rect.left) * scaleX),
          y = Math.round((event.clientY - rect.top) * scaleY);
    const req = new XMLHttpRequest();
    const kind = document.getElementById("set_privacy").checked? "&kind=screen" : "";
    req.open("GET", "/shade-tapped/{{room.id}}?x=" + x + "&y=" + y + kind);
    req.send();
  }
</script>

<div style="display:none;">
  <img id="both" src="/img/rooms/{{room.id}}/both.jpeg">
  <img id="open" src="/img/rooms/{{room.id}}/open.jpeg">
  <img id="blackout" src="/img/rooms/{{room.id}}/blackout.jpeg">
  <img id="privacy" src="/img/rooms/{{room.id}}/privacy.jpeg">
</div>

<figure class="image is-fullwidth is-4by3">
  <canvas id="canvas" class="has-ratio" width="{{room.image_width}}" height="{{room.image_height}}"
          onmousedown="canvasClicked(this, event)">
  </canvas>
</figure>
<p class="has-text-centered">
  Tap photo to set
  <input type="radio" name="blind_kind" id="set_blackout" checked>
  <label for="set_blackout">Blackout</label>
  <input type="radio" name="blind_kind" id="set_privacy">
  <label for="set_privacy">Privacy</label>
  shade.
</p>

{% if macros|not-empty %}
<h2 class="title is-5 mt-5">Macros</h2>
<h3 class="subtitle is-6">Move Groups of Shades.</h3>

<p>
  {% for macro in macros %}
  <button id="macro-{{macro.id}}-{{room.id}}" class="button is-primary is-small m-1{% if macro.in-effect %} is-light{% endif %}" onclick="runRoomMacro('{{macro.id}}','{{room.id}}')">{{ macro.name }}</button>
  {% endfor %}
</p>
{% endif %}

{% endblock %}
