{% extends "base.html" %}
{% block content %}
<h1 class="title">Status</h1>

<div class="content">
  <p>Current time: {{now|date:"yyyy-MM-dd HH:mm:ss"}}.<br>
    Sun Elevation: {{sun.elevation|number-format:%.2f}}°, Azimuth: {{sun.azimuth|number-format:%.2f}}°.<br>
    Astronomical Dawn: {{astronomical-dawn|date:"HH:mm:ss"}}.<br>
    Sunrise: {{sunrise|date:"HH:mm:ss"}}, Sunset: {{sunset|date:"HH:mm:ss"}}.</p>
  {% if any weather-update high %}
  <p>
    {% if weather-update %}
    Temperature {{temperature.temperature|double-format}}°{% if temperature.dewpoint %}, dewpoint
    {{temperature.dewpoint|double-format}}°
    {% endif %}
    at {{weather-update|date:"HH:mm"}}.
    {% endif %}
    {% if all weather-update high %}<br>{% endif %}
    {% if high %}
    High of {{high.temperature}}° was forecast at {{high-update|date:"HH:mm"}}.
    {% endif %}
  </p>
  {% endif %}
</div>

<h2 class="title is-4">Blind Controller</h2>

<div class="content">
  <p>Connected?
    {% if connected %}
    <span class="tag is-success">Yes</span><br/>
    Last Blind Position Update: {{blinds-update}}<br/>
    Last Blind Battery Update: {{battery-update}}
    {% else %}
    <span class="tag is-danger">No</span>
    {% endif %}</p>

</div>

<h2 class="title is-4">Events</h2>

<table class="table is-striped">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Related Resource</th>
      <th>Last Occurrence</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{event.name}}</td>
      <td>{{event.related-name}}</td>
      <td>{{event.happened}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
